@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/img/Background_Correto.svg");
    background-size: cover; 
}

.cabecalho{
    background-color: #0A3147;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}

.lupa{
    background-color: white;
    width: 334px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    border-radius: 4px;
}

.lupa input{
    height: 33px;
    outline: none;
    border: 0;
    flex: 1;
}

.lupa button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap:17px;
    padding-right: 90px;
}

.notificacao{
    position: absolute;
    right: 162px;
    top: 30px;
}

.logo{
    padding-left: 25px;
}

.menu-lateral{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 84px;
    gap: 25px;
    background-color: #0A3147;
    height: 1288px;
    padding-top: 27px;
}

.conteudo{
    display: grid;
    grid-template-columns: 84px 1fr;
    background-image: url("/img/Background_Correto.svg");
    background-size: cover;
}

.txt{
    margin-top: 73px;
    margin-left: 482px;
}

.txt1{
    font-size: 15px;
    font-weight: 800;
    color: #0a3147;
    font-family: "Montserrat", sans-serif;
}

.txt2{
    font-size: 15px;
    font-weight: 800;
    color: #0a3147;
    font-family: "Montserrat", sans-serif;
}

.txt3{
    font-size: 15px;
    font-weight: 800;
    color: #ffb702;
    font-family: "Montserrat", sans-serif;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: #0a3147;  
}

.divpai{
    display: flex;
    margin-bottom: 13px;
    align-items: center;
    gap: 13px;
}

.nome-dono{
    display: flex;
    flex-direction: column;
}

.reset-input{
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    height: 44px;
}

.tamanho-input{
    width: 324px; 
}

.input-documento{
    display: flex;
    flex-direction: column;
}

.tamanho-input-documento{
    width: 261px;
    border-radius: 10px;
    height: 44px;
    outline: none;
    border: 1px solid black; 
}

.email{
    display: flex;
    flex-direction: column;
}

.tamanho-input-email{
    width: 598px;
}

.selecionar-telefone{
    display: flex;
    flex-direction: column;
}

.preferencia{
    display: flex;
    flex-direction: column;
}

.selecionar-preferencia{
    width: 337px;
}

.nome-rua{
    display: flex;
    flex-direction: column;
}

.tamanho-input-rua{
    width: 431px;
}

.number{
    display: flex;
    flex-direction: column; 
}

.tamanho-input-numero{
width:155px;

}

.telefone{
    
}

.telefone select{
    padding-top: 10px;
    padding-left: 7px;
    width: 63px;
}

.input-telefone{
    padding-top: 20px;
    width: 178px;   
}

.nome-bairro{
    display: flex;
    flex-direction: column;
}

.tamanho-input-bairro{
    width: 204px;
}

.complemento{
    display: flex;
    flex-direction: column;
}

.tamanho-input-complemento{
    width: 382px;
}


.two-button{
    display: flex;
    justify-content: end;
    gap: 12px;
}

.two-button button{
    width: 159px;
    height: 45px;
    border-radius: 10px;
    border: 0;
    margin-top: 41px;
    color: white;
    font-size: 12px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.dados{
    gap: 11px;
}


.back{
    background-color: #0A3147;
}

.ok{
    background-color: #5AAF05;
}